.form-control {
    width: 500px;
    margin-bottom: 20px;
}
.title {
    font-family:MontserratAlt_Bold;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(97, 46, 118, 0.76);
    margin: 30px 0 20px 0;
}
.btn {
    margin-top: 30px;
}
.container_in {
    padding-bottom: 50px;
}